@media screen and (min-width: 480px) {
  .container {
    max-width: 425px;
  }

  .hero{
  background-image: var(--gra-hero), url(../images/image2.0/hero_tab.jpg);

  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero  {
      background-image: var(--gra-hero), url(../images/image2.0/hero_tab2x.jpg);
  }
}
}


