:root {
  --desk-color: #2e2f42;
  --text-color: #434455;
  --button-color: #4d5ae5;
  --gra-hero: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'roboto', sans-serif;
  color: var(--text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
/* -------------------------HEADER---------------------- */
.top-header {
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px #2e2f4229,
    0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
}

.top-navigation {
  display: flex;
}

.header-container {
  display: flex;
}

.link-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--desk-color);
  margin-right: 77px;
}

.top-accent {
  color: var(--button-color);
}

.top-list {
  display: flex;
  gap: 40px;
}

.top-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--desk-color);
  transition: color 250ms linear;
}

.top-link:hover,
.top-link:focus {
  color: var(--button-color);
}

.top-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms linear;
}

.top-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms linear;
}

.address {
  font-style: normal;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.top-phone:is(:hover, :focus),
.top-mail:is(:hover, :focus) {
  color: var(--button-color);
}

.current {
  color: var(--button-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--button-color);
}

/* ------------HERO--------------------- */

.hero-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
}

.hero {
  max-width: 1440px;
  height: 600px;
  background-image: var(--gra-hero), url(../images/people_office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-btn {
  min-width: 170px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-top: 48px;
  transition: color 250ms linear, background-color 250ms linear;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--button-color);
  background-color: #ffffff;
}

/* -----------------SLOGAN------------------------- */
.slogan-sec {
  padding-bottom: 120px;
  padding-top: 120px;
}

.slogan {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slogan-item {
  width: 264px;
  min-height: 104px;
}

.title-slogan {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--desk-color);
  padding-bottom: 8px;
}

.subtitle-slogan {
  display: flex;
  gap: 24px;
}
.text-slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.slogan-item-icon {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------GALERY-------------- */

.galery {
  padding-bottom: 120px;
}
.title-galery {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--desk-color);
  margin-bottom: 72px;
}
.galery-list {
  display: flex;
  gap: 24px;
}

/* ------------TEAM------------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--desk-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-name {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--desk-color);
  padding-bottom: 8px;
}
.team-prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 12px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/* ----------Customers---------- */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--desk-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 90px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: border 250ms linear;
}

.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms linear;
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--button-color);
}

.customers-link:hover {
  border: 1px solid var(--button-color);
}

/* -----------FOOTER----------------- */

.footer {
  background-color: var(--desk-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  padding-bottom: 16px;
}

.footer-accent {
  color: var(--button-color);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-item {
  display: flex;
}

.footer-all {
  margin-right: 120px;
}

.subtitle-soc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: Top;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms linear;
}
.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.subscribe-item {
  margin-left: 80px;
}

.text-subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 164px;
  height: 40px;
  margin-left: 24px;
  background-color: var(--button-color);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 24px;
  margin: auto;
  padding-left: 16px;
}

/* .subscribe-input::placeholder{
  padding-left: 16px;
} */

.subscribe-input:focus {
  color: #ffffff;
}

/* ---------------PORTFOLIO---------------- */

.nav-button {
  padding-top: 96px;
  padding-bottom: 100px;
}
.btn-filtr {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 72px;
}

.button-item {
  height: 48px;
  min-width: 69px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  transition: color 250ms linear, background-color 250ms linear,
    box-shadow 250ms linear;
}
.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 20px;
}

.portfolio-item {
  outline: 0.5px solid #f4f4fd;
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.subtitle-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--desk-color);
  padding-bottom: 8px;
}
.suptitle-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.portfolio-focus {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms linear;
}

.portfolio-focus:is(:hover, :focus) {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--button-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

.portfolio-text-box {
  position: relative;
  overflow: hidden;
}

.portfolio-focus:is(:hover, :focus) .portfolio-text {
  transform: translateY(0);
}

/* ------------MODAL window------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 50%) scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms linear;
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
}

.modal-close:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--desk-color);
  margin-bottom: 16px;
}

.modal-input {
  font-size: 12px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  padding-left: 36px;
}

.modal-input:focus,
.modal-comment:focus {
  border-color: var(--button-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--button-color);
}

.modal-input::placeholder {
  font-size: 12px;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(49, 208, 171, 0.318);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(197, 6, 6, 0.307);
}

.modal-input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.red {
  color: red;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px;
  resize: none;
}

.button-submit {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 4px;
  border: 0;
  margin-top: 48px;
  transition: color 250ms linear, background-color 250ms linear;
}

.button-submit:is(:hover, :focus) {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.check-text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.check-link {
  color: #4d5ae5;
  margin-left: 1.33%;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 300ms linear;
}

.modal-check:checked + .check-text span {
  background-color: var(--button-color);
  border: none;
  fill: #f4f4fd;
}
